.c-row
  .c-col-12
    .c-btn-group-wrapper.u-clearfix.u-tar
      .c-btn-group--right
        .c-btn-group--item
          a.button.c-btn--ghost.u-br-none.u-px-30(data-type="confirmation") Cancel
          button.button.is-primary(type='submit') Save