.c-row
  .c-col-12
    .c-btn-group-wrapper.u-clearfix.u-tar.u-my-35
      .c-btn-group--right
        .c-btn-group--item
          button.c-btn.c-btn--primary.c-btn--sm(type='submit') Save
        .c-btn-group--item
          button.c-btn.c-btn--ghost.c-btn--sm.u-px-30.jc-popover(data-type="confirmation") Cancel