div
	Header
	.p-prfrm-wrapper
		//- .p-prfrm-content.u-hsm-up.u-tac.u-py-90
		//- 	h1.c-smb-18.u-mb-40 Halaman tidak tersedia dalam ukuran mobile.
		//- 	//- img(src="/assets/images/pages/icon-goals.svg", alt="")
		slot/

	Footer