// Style component avatar
// Use BLock Element Modifier (https://github.com/dropbox/css-style-guide)

// Variable
$img-type : xxs, xs, sm, md, lg;
$img-size : 20, 30, 50, 60, 80;
$img-font : 12, 12, 22, 28, 56;
$img-bg : lighten($v-green, 4%);
$img-more : #3E83FF;

// Images
figure, img {
  display: inline-block;
  vertical-align: middle;
}

// avatar style
.c-avatar {
  @for $i from 1 through length($img-type) {
    &--#{nth($img-type, $i)} {
      display: inline-block;
      width: #{nth($img-size, $i)}px;
      height: #{nth($img-size, $i)}px;
      border-radius: 6px;
      img {
        border-radius: 6px;
      }
      span {
        font-size: #{nth($img-font, $i)}px;
        line-height: #{nth($img-size, $i)}px;
        background-color: $img-bg;
        text-transform: uppercase;
        display: block;
        text-align: center;
        color: $v-white;
        font-family: "Avenir Next Demi";
        border-radius: 6px;
      }
    }

    &--more {
      position: relative;
      a {
        position: absolute;
        z-index: 9;
        color: transparent;
        width: 100%;
        height: 100%;
      }
      span {
        background-color: $v-blue;
        color: $v-white;
      }
    }
  }


  // when avatar circle
  &--circle {
    @include border-radius(50%);
    overflow: hidden;
  }

  // avatar group
  &-group {
    position: relative;
    figure {
      position: relative;
    }
    .c-avatar-text{
      @extend .u-dib ;
      &--md {
        width: calc(100% - 65px);
        padding-left: 10px;
        padding-left: 10px;
      }
      &--sm {
        width: calc(100% - 55px);
        padding-left: 10px;
        padding-right: 10px;
      }
      &--xs {
        width: calc(100% - 35px);
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    figure, .c-avatar-text { @extend .u-vat }

    &.is-image {
      figure {
        margin-right: -14px;
        border: 1px solid $v-white;

        &:first-child { z-index: 3; }
        &:nth-child(2) { z-index: 2; }
      }
      .c-avatar--more {
        margin-left: 20px;
      }
    }
  }
}
