// Style component Tabbing
// Use BLock Element Modifier (https://github.com/dropbox/css-style-guide)
// tabbing style

.c-tabbing {
  position: relative;

  &__head {
    border-bottom: 1px solid $v-ui-border;
    list-style: none;
    padding: 0 30px;
    margin: 0 -30px;
    li {
      display: inline-block;
      cursor: pointer;
      margin-right: 10px;
      color: $v-slate ;
      border-bottom: 5px solid transparent;
      line-height: 16px;
      margin-bottom: -4px;
      a {
        color: $v-black;
        text-decoration: none;
        display: inline-block;
        padding: 10px 30px;
        min-height: 40px;
        span {
          vertical-align: bottom;
        }
        .c-pill {
          display: inline-block;
          width: 20px;
          height: 20px;
          padding: 0;
          line-height: 20px;
          text-align: center;
          border-radius: 50%;
          margin-left: 4px;
        }
      }
      &:hover:not(.is-disabled) {
        a {
          text-shadow: 0.1px 0.1px $v-black;
        }
      }
      &.active {
        color: $v-black;
        border-bottom: 3px solid $v-green;
        > a {
          color: $v-green;
          font-family: "Avenir Next Medium";
        }
      }
      &.is-disabled {
        color: $v-slate;
        > a {
          cursor: not-allowed;
          color: $v-slate;
        }
      }
    }
  }
  &__konten{
    margin-top: 35px;
    width: 100%;
    display: none;
    &.active {
      display: block;
    }
  }
}

.c-tabbing[tab-type="single-column"] {
  li { position: relative; }
}
