.p-prfrm-header.u-clearfix
	.u-pull
		a.u-cl-black(href="") Back to all reviews
		h2.c-str-26.u-mb-14 {{detailCompanyReview.title}}
		.u-maxw-570.u-mb-30
			p.c-reg-15 {{detailCompanyReview.description}}.
		.c-row.u-mb-10
			.c-col-3.c-col-md-3
				span.c-str-15 Review cycle
			.c-col-5.c-col-md-5
				span.c-reg-15(v-show="detailCompanyReview.is_repeat == false") Only once
				span.c-reg-15(v-show="detailCompanyReview.is_repeat == true") Repeat
		.c-row.u-mb-10
			.c-col-3.c-col-md-3
				span.c-str-15 Review start date
			.c-col-5.c-col-md-5
				span.c-reg-15 {{detailCompanyReview.review_start_date | moment("DD MMMM YYYY")}}
		.c-row.u-mb-10
			.c-col-3.c-col-md-3
				span.c-str-15 Review due date
			.c-col-5.c-col-md-5
				span.c-reg-15 {{detailCompanyReview.review_end_date | moment("DD MMMM YYYY")}}
		.c-row.u-mb-10
			.c-col-3.c-col-md-3
				span.c-str-15 Status
			.c-col-5.c-col-md-5
				.u-maxw-150.u-mt-5
					ProgressBar(
						:currentBar="detailCompanyReview.total_completed_reviews"
						:maxBar="detailCompanyReview.total_reviewers"
						:statusProgress="detailCompanyReview.status"
					)