#companyReview
	.p-prfrm-content.u-hsm-down
		h2.c-str-26 Company
		.u-maxw-570.u-mb-40
			p.c-reg-15 This is a module where you as an admin can setup administration our integrated modules of objectives, performance reviews, peer and continuous feedback to support driving your feedback culture and allowing your people to grow, shine and succeed!
		.tabs.is-medium
			ul
				li.is-active
					a Reviews
				li
					a Objectives
				li
					a 1:1 Meetings
				li
					a Directory