#companyReview
  .p-prfrm-content.u-hsm-down
    h2.c-str-26 Company
    .u-maxw-570.u-mb-40
      p.c-reg-15 This is a module where you as an admin can setup administration our integrated modules of objectives, performance reviews, peer and continuous feedback to support driving your feedback culture and allowing your people to grow, shine and succeed!
    
    template
      section
        b-tabs.c-tabbing--main(v-model='activeTab')
          b-tab-item(label='Reviews')
            nav.level.u-mb-30
              .level-left
                .level-item
              .level-right
                .level-item
                  router-link(:to="{ name: 'createReview'}").button.is-primary.c-btn--sm
                    img.u-mr-10(src='@/assets/images/pages/icon-add.svg' alt="")
                    span Create Review
            CompanyReviewList(
              :listCompanyReview="listCompanyReview"
              :listCompanyIncluded="listCompanyIncluded"
            )
          b-tab-item(label='Objectives', disabled)
          b-tab-item(label='1:1 Meetings', disabled)
          b-tab-item(label='1:1 Directory', disabled)