@mixin rating {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  font-size: 21px;
  text-align: center;
  vertical-align: middle;
  font-family: "Avenir Next Medium"
}

.p-prfm-rating {
  display: flex;
  &__item {
    width: 130px;
    &:last-child {
      width: 60px;
    }
    
    input {
      display: none;

      &:checked ~ label {
        background-color: $v-blue;
        color: $v-white;
      }

      &:disabled ~ label {
        cursor: not-allowed;
      }
    }
    label {
      @include rating;
      background-color: $v-smoke;
      color: $v-slate;
      cursor: pointer;
      transition: background .3s linear;
      padding: 18px 24px;
    }
  }
}

.p-prfrm-comment {
  width: 520px;
  max-width: 100%;
  &.is-button {
    text-align: center;
    padding: 20px;
    border: 1px dashed $v-ui-border;
    border-radius: 6px;
    color: $v-slate;
    cursor: pointer;
    &.is-disabled {
      cursor: not-allowed;
    }
  }
  &.is-filled {
    padding: 20px 20px 30px;
    background-color: $v-snow;
    border: 1px solid $v-ui-border;
    border-radius: 6px;
  }
}

@media print {
  .c-header,
  .p-admin-sidebar,
  .p-admin-header,
  .c-btn,
  .c-btn-group-wrapper {
    display: none;
  }
  .p-admin-content {
    width: 100%;
    margin-left: 0;
  }
}