// Style element content admin
// Use BLock Element Modifier (https://github.com/dropbox/css-style-guide)
// content admin style

// wrapper main content for staff
.p-prfrm {
  &-wrapper {
    width: 100%;
    max-width: 1030px;
    margin: auto;
    padding: 0 10px;
  }

  // content
  &-content {
    width: 100%;
    min-height: calc(100vh - 200px);
    background-color: $v-white;
    border-radius: 8px;
    border: 1px solid $v-ui-border;
    box-shadow: 0 2px 10px 0 $v-ui-border;
    padding: 30px;
  }

  &-heading {
    text-align: center;
    max-width: 570px;
    margin: auto;
    padding: 30px 0;
  }

  &-header {
    position: relative;
    background-color: $v-ui-background;
    margin: -30px -30px 0 -30px;
    padding: 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    &__action {
      position: absolute;
      right: 30px;
    }
  }

  &-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-showmore {
    width: 370px;
    max-width: 70%;
    margin: 30px auto;
    height: 1px;
    position: relative;
    background-color: $v-ui-border;
    span {
      position: absolute;
      top: -19px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      background-color: $v-white;
      color: $v-slate;
      cursor: pointer;
    }
  }

  &-create {
    margin-left: -30px;
    margin-right: -30px;
    &__list {
      padding: 40px 30px;
      border-bottom: 1px solid $v-ui-border;
      &:last-child {
        border-bottom: none;
        padding-bottom: 10px;
      }
    }
  }

  &-templatelist {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    &__item {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 20px 30px;
      border: 1px solid $v-ui-border;
      border-radius: 4px;
      cursor: pointer;

      &:hover { border-color: $v-slate; }

      &-name{
        font-family: "Avenir Next Medium";
        font-size: 1.5rem;
        line-height: 23px;
      }
      
      &-wrapper {
        width: calc(100% / 3);
        padding: 10px;
        // custom radio button template review
        .b-radio{
          &.radio{
            input[type=radio]{
              ~ .check{
                display: none;
              }
              &:checked{
                ~ .check{
                  display: none;
                }
                ~ .control-label{
                  padding-left: 0;
                  border-color: $v-blue;
                  background-color: rgba(66,152,252,.05);
                  .p-prfrm-templatelist__item{
                    border-color: $v-blue;
                    &-name{
                      color: $v-blue;
                    }
                  }
                }
              }
            }
            .control-label{
              width: 100%;
              padding-left: 0;
            }
            width: 100%;
          }
        }
      }
      // &-name { @extend .c-smb-15; }
      &-action {
        @extend .u-clearfix;
        margin-top: 20px;
        border-top: 1px solid $v-ui-border;
        padding-top: 10px;
        button {
          padding: 0;
        }
      }

      &.is-new {
        border-style: dashed;
        display: flex;
        align-items: center;
      }
    }

    input[type="radio"] {
      display: none;
      &:checked {
        //~ label {
          ~ .p-prfrm-templatelist__item {
            border-color: $v-blue;
            background-color: rgba(66,152,252,.05);

            .p-prfrm-templatelist__item-name { color: $v-blue; }
          }
        //}
      }
    }
  }

  &-review {
    padding: 10px 0;
    max-width: 900px;
    &__category {
      opacity: 0;
      height: 0;
      visibility: hidden;
      &.is-active {
        opacity: 1;
        height: auto;
        visibility: visible;
        transition: opacity .8s linear;
        .p-prfrm-review__category-head { margin: 30px 0; }
      }
    }
    &__question {
      display: flex;
      opacity: 0;
      height: 0;
      visibility: hidden;
      &.is-active {
        opacity: 1;
        height: auto;
        visibility: visible;
        transition: opacity .8s linear;
      }
      &-no {
        width: 60px;
        padding-right: 15px;
      }
      &-detail {
        width: calc(100% - 60px);
        > p {
          width: 570px;
        }
      }
      &-action {
        span { margin-top: -3px; }
        button { min-width: 0; }
      }
    }
  }

  &-otherreview {
    width: 100%;
    display: flex;
    border-bottom: 1px solid $v-ui-border;
    padding: 30px 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    > * {
      padding: 0 15px;
      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }
    }
    &__reviewer {
      width: 240px;
    }
    &__rating {
      span {
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        background-color: $v-blue;
        color: $v-white;
        text-align: center;
        vertical-align: middle;
      }
    }
    &__comment {
      width: calc(100% - 240px - 90px);
    }
  }
}

// footer style
.c-footer {
  color: $v-black;
  text-align: center;
  padding: 30px;
  img {
    width: 40px;
  }
}

.c-profile-report{
  &--score{
    background-color: #4F5AB4;
    border-radius: 10px;
    padding: 20px 0;
    text-align: center;
    color: #FFF;
    font-size: 36px;
    font-weight: 600;
    max-width: 120px;
    width: 100%;
    margin-left: auto;
    line-height: 50px;
  }
}