// Style element content admin
// Use BLock Element Modifier (https://github.com/dropbox/css-style-guide)
// content admin style

// wrapper main content for staff
.p-prfrm {
  &-wrapper {
    width: 100%;
    max-width: 1030px;
    margin: auto;
    padding: 0 10px;
  }

  // content
  &-content {
    width: 100%;
    min-height: calc(100vh - 200px);
    background-color: $v-white;
    border-radius: 8px;
    border: 1px solid $v-ui-border;
    box-shadow: 0 2px 10px 0 $v-ui-border;
    padding: 30px;

    &--blank {
      width: 520px;
      margin: 60px auto;
      text-align: center;
    }

    &--preview {
      border: 5px solid $v-orange;
      position: relative;

      &__badge {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $v-orange;
        color: $v-white;
        padding: 8px 12px;
        font-size: 13px;
        border-radius: 0 0 6px 6px;
      }

      &__close {
        position: absolute;
        right: -80px;
        top: 30px;
        z-index: 1;
        text-align: center;
        a {
          max-width: 55px;
          min-width: 0;
          padding: 0;
          @extend .c-reg-15;
        }

        @media screen and (max-width: $v-md){
          right: 20px;
        }
      }
    }
  }

  &-blank {
    width: 520px;
    max-width: 100%;
    text-align: center;
    
  }

  &-heading {
    text-align: center;
    max-width: 570px;
    margin: auto;
    padding: 30px 0;
  }

  &-header {
    position: relative;
    background-color: $v-ui-background;
    margin: -30px -30px 0 -30px;
    padding: 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    &__action {
      position: absolute;
      right: 30px;
    }
  }

  &-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-showmore {
    width: 370px;
    max-width: 70%;
    margin: 30px auto;
    height: 1px;
    position: relative;
    background-color: $v-ui-border;
    span {
      position: absolute;
      top: -19px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      background-color: $v-white;
      color: $v-slate;
      cursor: pointer;
    }
  }

  &-create {
    margin-left: -30px;
    margin-right: -30px;
    &__list {
      padding: 40px 30px;
      border-bottom: 1px solid $v-ui-border;
      &:last-child {
        border-bottom: none;
        padding-bottom: 10px;
      }

      &.is-open {
        .p-prfrm-create__list {
          &-edit {
            display: none;
          }
          &-content {
            max-height: none;
            overflow: visible;
            visibility: visible;
          }
        }
      }

      &-content {
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }

  &-templatelist {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    &__item {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 20px 30px;
      border: 1px solid $v-ui-border;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        border-color: $v-slate;
        &.is-new{
          border-style: solid;
        }
      }
      
      &-wrapper {
        width: calc(100% / 3);
        padding: 10px;
      }
      &-name {
        @extend .c-smb-15;

        + div {
          margin-bottom: 60px;
        }
      }
      &-action {
        position: absolute;
        width: calc(100% - 60px);
        bottom: 20px;
        @extend .u-clearfix;
        border-top: 1px solid $v-ui-border;
        padding-top: 10px;
        button {
          padding: 0;
        }
      }

      &.is-new {
        border-style: dashed;
        display: flex;
        align-items: center;
      }
    }

    input[type="radio"] {
      display: none;
      &:checked {
        ~ label {
          &.p-prfrm-templatelist__item {
            background-color: rgba(66,152,252,0.05);
            border-color: $v-blue;

            .p-prfrm-templatelist__item-name { color: $v-blue; }
          }
        }
      }
    }
  }

  &-review {
    padding: 10px 0;
    max-width: 900px;
    overflow: hidden;
    &__category {
      opacity: 0;
      height: 0;
      visibility: hidden;
      > { height: 0; } 
      &.is-active {
        opacity: 1;
        height: auto;
        visibility: visible;
        transition: opacity .8s linear;
        .p-prfrm-review__category-head { margin: 30px 0; }
        > { height: auto; } 
      }
    }
    &__question {
      display: flex;
      opacity: 0;
      height: 0;
      visibility: hidden;
      * { height: 0; } 
      &.is-active {
        opacity: 1;
        height: auto;
        visibility: visible;
        transition: opacity .8s linear;
        * { height: auto; }
      }
      &-no {
        width: 60px;
        padding-right: 15px;
      }
      &-detail {
        width: calc(100% - 60px);
        > p {
          width: 570px;
        }
      }
      &-action {
        span { margin-top: -3px; }
        button { min-width: 0; }
      }
    }
  }

  &-otherreview {
    width: 100%;
    display: flex;
    border-bottom: 1px solid $v-ui-border;
    padding: 30px 0;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    > * {
      padding: 0 15px;
      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }
    }
    &__reviewer {
      width: 240px;
    }
    &__rating {
      span {
        background-color: $v-blue;
        color: $v-white;
      }
    }
    &__comment {
      width: calc(100% - 240px - 90px);
    }
  }
}

// footer style
.c-footer {
  color: $v-black;
  text-align: center;
  padding: 30px;
  img {
    width: 40px;
  }
}

.c-profile-report{
  &--score{
    background-color: #4F5AB4;
    border-radius: 10px;
    padding: 20px 0;
    text-align: center;
    color: #FFF;
    font-size: 36px;
    font-family: "Avenir Next Demi";
    max-width: 120px;
    width: 100%;
    margin-left: auto;
    line-height: 50px;
  }
}