.p-prfm-rating {
  &__item {
    margin: 0 30px;
    display: inline-block;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    
    input {
      display: none;

      &:checked ~ label {
        background-color: $v-blue;
        color: $v-white;
      }
    }
    label {
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 50%;
      background-color: $v-smoke;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      transition: background .3s linear;
    }
  }
}

@media print {
  .c-header,
  .p-admin-sidebar,
  .p-admin-header,
  .c-btn,
  .c-btn-group-wrapper {
    display: none;
  }
  .p-admin-content {
    width: 100%;
    margin-left: 0;
  }
}