// Style for access signin, signup and reset password

// wrapper-access
.p-access {
  display: flex;
  min-height: 100vh;

  // image cover login
  &__img {
    // background-image: url("../images/signin/background.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% - 500px);
    @include mobile { display: none; }
    @include tabletPotrait { display: none; }
    @include tabletLandscape { display: none; }
  }

  // form sidebar login
  &__side {
    width: 500px;
    background-color: $v-white;
    align-self: center;
    padding: 50px;
    @include mobile { margin: auto; }
    @include tabletPotrait { margin: auto; }
    @include tabletLandscape { margin: auto; }

    &--tagline {
      width: 520px;
      height: 100%;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background-color: transparent;
      a { text-transform: uppercase; }
    }
  }
}
