div
	progress.progress.u-mb-0(
		:value="currentBar" 
		:max="maxBar"
		:class="classProgress"
	) {{currentBar}}
	nav.level.c-reg-13.u-mt-4
		.level-left
			.level-item
				span.c-first-letter-capitalize {{statusProgress}}
		.level-right
			.level-item 
				| {{currentBar}}/{{maxBar}}