#entryPage
	.p-prfrm-entry__content
		.c-str-26 Join Sleekr
		.c-reg-15 What gets measured, gets managed
		.u-my-30
			a.button(href="").c-btn--full.c-btn--withicon.is-blue.u-mb-18
				span.icon
					img(src="@/assets/images/pages/google-g-logo.svg", alt="Icon")
				span Sign up with Google
			a.button(href="").c-btn--full.c-btn--withicon.is-green
				span.icon
					img(src="@/assets/images/pages/logo-sleekr.svg", alt="Icon")
				span Sign up with Sleekr
		.c-reg-15 or
		form.u-mt-30
			.u-tal
				.u-mb-10
					label.c-smb-15 Team
				.control.u-mb-20
					input.input(type="text", placeholder="Team name")

				.u-mb-10
					label.c-smb-15 Profile
				.control
					input.input(type="text", placeholder="Full name")
				.control
					input.input(type="email", placeholder="Email address")
				.control
					input.input(type="password", placeholder="Password")
			.u-mt-30
				button Sign up