#entryPage
	.p-prfrm-entry__content
		.c-str-26 Forgot password
		form.u-mt-30
			.u-tal
				.control
					input.input(type="email", placeholder="Email address")
			.u-mt-30
				button Send me the link
	.p-prfrm-entry__content
		.c-str-26 Change password
		form.u-mt-30
			.u-tal
				.control
					input.input(type="password", placeholder="New password")
				.control
					input.input(type="password", placeholder="Repeat password")
			.u-mt-30
				button Save