a{
	&.button{
		font-size: 1.5rem;
		font-family: "Avenir Next Regular";
	}
}

.c-btn{
	text-align: center;
	font-family: "Avenir Next Regular";
	line-height: 24px;
	padding: 6px 30px;
	min-height: 36px;
	&--ghost{
		color: $v-slate;
		&:hover, &:active, &:focus {
      text-decoration: underline;
      color: $v-slate;
    }
	}
	&--more {
    padding: 7px 0;
    line-height: 20px;
    width: 40px;
    height: 40px;
    min-width: 0;
    border-radius: 50%;
    border: 1px solid $v-slate;
    background-color: $v-white;
    transition: background .3s linear;
    &-dots {
      width: 4px;
      height: 4px;
      margin: 0 3px;
      background-color: $v-slate;
      @include border-radius(50%);
      @include transition(all .3s);
    }
    &:hover, &:focus, &:active {
      background-color: $v-slate;
      .c-btn--more-dots { background-color: $v-white; }
    }
  }
}

.button{
	font-size: 1.5rem;
	text-decoration: none;
	font-family: "Avenir Next Regular";
	&:hover, &:active, &:focus{
		text-decoration: none;
		background: $v-ui-background;
		box-shadow: none !important;
	}
	&.is-primary{
		background-color: $v-green;
		&:hover, &:active, &:focus{
			background-color: $v-green-dark;
			text-decoration: none;
			box-shadow: none;
		}
	}
	&.is-light{
		background-color: $v-smoke;
	}
	&.is-disabled{
		background-color: $v-smoke;
    border: 1px solid $v-smoke;
    color: #FFF!important;
    pointer-events: none;
	}
}