.b-radio{
	input{
		box-shadow: none;
	}
	&.radio{
		input[type=radio]{
			~ .check{
				border-color: $v-ui-border;
				margin-bottom: 0;
				border: 1px solid $v-smoke;
				width: 15px;
				height: 15px;
				margin-top: -3px;
				&:before{
					background-color: $v-white;
					width: 7px;
					height: 7px;
				}
			}
			&:checked{
		    ~ .check{
					border-color: $v-blue;
			    background-color: $v-blue;
			    outline: 0;
				}
			}
		}
		&:hover{
			input[type=radio]{
				~ .check{
					border-color: $v-ui-border;
					margin-bottom: 0;
					border: 1px solid $v-smoke;
				}
				&:checked{
					~ .check{
						border: none;
					}
				}
			}
		}
		&:focus{
			input[type=radio]{
				~ .check{
					box-shadow: none;
				}
			}
			input[type=radio]{
				&:checked{
					~ .check{
						box-shadow: none;
					}
				}
			}
		}
		.control-label{
			line-height: 15px;
		}
	}
}

.b-checkbox{
	input{
		box-shadow: none;
	}
	&.checkbox{
		input[type=checkbox]{
			~ .check{
				border: 1px solid $v-smoke;
			}
			&:checked{
				~ .check{
					background: $v-blue url(../images/component/icon-checkbox-white-thick.svg) no-repeat center center;
					border-color: $v-blue;
				}
			}
		}
		&:hover{
			input[type=checkbox]{
				~ .check{
					border-color: $v-smoke;
				}
			}
		}
		.control-label{
			font-weight: normal;
			font-family: "Avenir Next Regular";
		}
	}
}

.c-check{
	&__checkbox {
		-webkit-appearance: none;
		margin: 4px 10px 0px 0;
		width: 15px;
		height: 15px;
		border: 1px solid $v-ui-border;
		@include border-radius(3px);
		background-color: $v-white;
		background-image: none;
		background-size: calc(100% - 5px);
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		outline: none;
		@include transition(all .3s);
		&:checked {
			background-image: url(../images/component/icon-checkbox-white.svg);
			border-color: $v-blue;
			background-color: $v-blue;
			outline: none;
		}
	}
}

// custom radio button create review
.p-prfrm{
	&-templatelist{
		&__item{
			&-wrapper{
				label{
					span{
						&.check{
							display: none !important;
						}
						&.control-label{
							padding-left: 0 !important;
						}
					}
					&.is-checked{
						background-color: rgba(66,152,252,0.05);
	          border-color: $v-blue;
						.control-label{
							.p-prfrm-templatelist__item-name { color: $v-blue; }
						}
					}
				}
			}
		}
	}
}