.control{
	input{
		font-family: $v-avenir;
		border: 1px solid $v-ui-border;
	  outline: 0;
	  background-color: transparent;
	  font-size: 1.5rem;
	  min-height: 36px;
	  @include transition(all .5s);
		&:hover, &:active, &:focus {
	    border-color: $v-blue-border;
	    box-shadow: 0 0 4px 1px rgba(131,202,252,0.5);
	  }
	}
	input[disabled]{
		&:hover{
			border-color: transparent;
			box-shadow: none;
		}
	}
	textarea{
		font-family: $v-avenir;
		font-size: 1.5rem;
		&.c-auto-height{
			resize: none;
    	overflow: hidden;
		}
		&:hover, &:active, &:focus {
	    border-color: $v-blue-border;
	    box-shadow: 0 0 4px 1px rgba(131,202,252,0.5);
	  }
	}
	&.has-icons-left{
		.icon{
			font-size: 1.5rem;
			height: 2.4em;
		}
	}
	&.has-icons-right{
		.icon{
			font-size: 1.5rem;
			height: 2.4em;
			.icon-percent{
				font-style: normal;
			}
		}
	}
}

.c-form-group{
	&.is-error {
    input, textarea, .c-form-time {
      border-color: $v-red;
      &:hover, &:active, &:focus { border-color: $v-blue; }
    }
  }
}

span{
  &.is-message {
    color: $v-red;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}