// Style general
// Default viewport fontsize for rem
html { font-size: 62.5%; }

// Default body
body {
	margin: 0;
	font-family: $v-avenir;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	font-size: 1.5rem;
	color: $v-black;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

// Default box viewport
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

// Default hyperlink with blue sleekr
a {
	color: $v-blue;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	font-size: 1.5rem;
	&:hover, &:focus, &:active {
		outline: none;
		text-decoration: underline;
		color: inherit;
	}
}

// image fluid
.c-img-fluid {
	max-width: 100%;
	width: auto;
	height: auto;

	@include mobilexs {
		width: 100%;
		height: auto;
	}
}

// hr style
hr{
	border: 0;
	border-bottom: 1px solid $v-smoke;
	margin: 30px 0;
}

// pointer
.u-cpointer { cursor: pointer; }

// default label
.field{
	&:not(:last-child){
		margin-bottom: 0;
	}
	label {
		display: inline-block;
		margin-bottom: 10px;
		font-family: "Avenir Next Medium";
		font-size: 1.5rem;
		font-weight: normal;
	}
	.control{
		.select{
			width: 100%;
			select{
				width: 100%;
			}
		}
	}
}

// default span
span {
	display: inline-block;
	vertical-align: middle;
}

input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.tag{
	&:not(body){
		font-size: 1.5rem;
	}
	&.is-blue{
		background-color: $v-blue;
	}
	&.c-pill{
		width: 1em;
		height: 1.5em;
		color: $v-white;
		font-family: "Avenir Next Demi";
		line-height: 0;
		&--green{
			font-size: 13px;
			background-color: $v-green;
		}
	}
}

.c-list {
	width: 100%;
	&__item {
		display: flex;
		align-items: center;
		border-bottom: 1px solid $v-ui-border;
		padding: 20px 0 10px;
		> * {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	&__detail {
		width: calc(100% - 170px);
	}
	&__action {
		// @include actionButtonWrapper;
		.c-btn--sm { min-width: 140px; }
    text-align: right;
    padding-left: 10px;
    width: 170px;
    margin-bottom: 10px;
	}
	&__row {
		width: 100%;
		display: flex;
		align-items: center;
		margin: 0 -10px;
		> * {
			padding: 0 10px;
		}
	}

	&--review {
		.c-list {
			&__item {
				&.is-showonhover {
					&:hover {
						.c-list__action {
							opacity: 1;
						}
					}
					.c-list {
						&__detail {
							width: calc(100% - 80px);
						}
						&__action {
							align-self: start;
							opacity: 0;
							transition: all .3s linear;
							width: 80px;
						}
					}
				}
			}
			&__detail {
				width: calc(100% - 170px);
			}
			&__action {
				width: 170px;
				align-self: flex-end;
				margin-bottom: 0;
				padding-bottom: 5px;
				.c-btn--ghost {
					padding: 0;
					min-width: 0;
				}
			}
		}
		&__reviewee {
			width: 20%;
		}
		&__reviewer {
			width: 20%;
		}
		&__schedule {
			width: 35%;
		}
		&__status {
			width: 25%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&--reviewdetail {
		padding-bottom: 40px;
		.c-list {
			&__item {
				display: flex;
				align-items: start;
				justify-content: space-between;
				&.is-noaction {
					justify-content: flex-start;
					flex-wrap: wrap;
				}
			}
			&__row {
				justify-content: space-between;
			}
			&__avatar {
				width: calc(100% / 3);
				max-width: 320px;
			}
			&__detail {
				width: calc(100% - 300px - 170px);
			}
		}
		&__reviewer {
			width: 30%;
		}
		&__status {
			width: 40%;
		}

		&-company {
			.c-list {
				&__detail {
					width: calc(100% - 300px);
				}
				&--reviewdetail__action {
					width: 170px;
					text-align: right;
					padding-right: 0;
				}
			}
		}
	}

	&--staff {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px;
		width: calc(100% + 30px);
		&__item {
			padding: 20px;
			width: calc(100% / 3);
			border-right: 1px solid $v-ui-border;
			&:nth-child(3n){
				border-right: none;
			}

			input[type="checkbox"] {
				display: none;

				&+label {
					position: relative;
					width: 100%;
					margin-bottom: 0;
					cursor: pointer;
					color: $v-slate;

					.c-avatar-group {
						width: calc(100% - 25px);
						display: inline-block;
						figure {
							img {
								-webkit-filter: grayscale(100%);
								filter: grayscale(100%);
							}
							span {
								background-color: $v-slate;
							}
						}
					}
				}

				&:checked {
					&+label {
						color: $v-black;

						.c-avatar-group {
							figure {
								img {
									-webkit-filter: none;
									filter: none;
								}
								span {
									background-color: $img-bg;
								}
							}
						}
						
						.c-check__checkbox {
							background-image: url(../images/component/icon-checkbox-white.svg);
							border-color: $v-blue;
							background-color: $v-blue;
							outline: none;
						}
					}
				}
			}
		}
		&__action {
			width: 20px;
			text-align: right;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&--reviewer {
		&__item {
			display: flex;
			align-items: center;
			&.is-label{
				padding-bottom: 10px;
			}
			&:not(.is-label){
				padding-bottom: 30px;
			}
			> * {
				padding-left: 10px;
				padding-right: 10px;
			}
			&:hover {
				.c-list--reviewer__action {
					opacity: 1;
				}
			}
			&-select {
				display: block;
				margin-bottom: 30px;
				> * {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
		&__name {
			width: calc(100% - 190px - 100px);
		}
		&__weight {
			width: 190px;
			.c-form-group {
				width: 86px;
				margin-bottom: 0;
				.with-icon--right {
					span {
						top: 10px;
						right: 4px;
						color: $v-smoke;
						padding: 0 7.5px;
						color: $v-black;
					}
				}
			}
		}
		&__action {
			opacity: 0;
			width: 100px;
			a {
				font-size: 20px;
			}
		}

		&.is-sequential {
			.c-list--reviewer {
				&__item {
					&:not(.is-label){
						padding-left: 30px;
						position: relative;
						&::before {
							content: '';
							position: absolute;
							height: 9px;
							width: 9px;
							background-color: $v-purple;
							border-radius: 50%;         
							left: 10px;
							top: 10px;
						}
						&::after {
							content: url(../images/pages/icon-sequential.gif);
							position: absolute;
							height: calc(100% - 20px);
							width: 15px;
							left: 7px;
							top: calc(50% + 13px);
							transform: translateY(-50%);
							overflow: hidden;
						}
					}
					&:nth-last-child(2) {
						&::after { content: none; }
					}
				}
			}
		}
	}
}

.u-w-100-full{
	width: 100%;
}

.c-wrapper-text-left{
	line-height: 15px;
	width: 100%;
	position: absolute;
}

.u-m-auto{
	margin: 0 auto;
}

.custom-menu-dropdown{
	.dropdown{
		&-menu{
			width: 270px;
			.dropdown-content{
				background-color: $v-black;
				padding: 0;
				a{
					&.dropdown-item{
						padding: 10px 20px;
						.c-item{
							display: flex;
					    color: $v-white;
					    &__img{
					    	width: 28px;
		    				margin-right: 10px;
					    }
					    &__content{
					    	font-size: 1.5rem;
					    	vertical-align: middle;
					    }
						}
						&:hover{
							background-color: $v-black-darker;
							color: inherit;
							text-decoration: none;
							&:first-child{
								border-top-left-radius: 4px;
	    					border-top-right-radius: 4px;
							}
							&:last-child{
								border-bottom-left-radius: 4px;
	    					border-bottom-right-radius: 4px;
							}
						}
					}
				}
			}
		}
	}
}