.custom-popover{
	&.c-list--staff__dropdown{
		.dropdown{
			&-trigger{
				width: 30px;
			}
			&-content{
				text-align: left;
				.dropdown-item{
					.c-avatar{
						display: inline-block;
					}
					span{
						display: inline-block;
						background-color: transparent;
						text-transform: capitalize;
						font-size: 1.5rem;
						font-weight: normal;
					}
				}
			}
		}
	}
  .dropdown{
	  &-menu{
		// position: absolute;
			position: fixed;
			z-index: 3;
			background: #424649;
			color: #fff;
			width: 300px;
			text-align: center;
			top: 20px;
			border-radius: 6px;
			left: 30%;
			padding-top: 0;
			cursor: default;
			.dropdown-content{
			  background-color: inherit;
			  .dropdown-item{
					color: $v-white;
					text-decoration: none;
					padding: 14px;
					&:hover{
					  background-color: transparent;
					}
					textarea{
						background-color: transparent;
						border-color: transparent;
						color: $v-white;
					}
					// &.c-list--staff{
					// 	width: 100%;
					// 	margin: 0;
					// 	.c-avatar{
					// 		display: inline-block;
					// 	}
					// 	span{
					// 		display: inline-block;
					// 		background-color: transparent;
					// 	}
					// }
			  }
			}
			// &:before{
			// 	content: '';
			// 	position: absolute;
			// 	left: 50%;
			// 	transform: translateX(-50%);
			// 	-webkit-transform: translateX(-50%);
			// 	-moz-transform: translateX(-50%);
			// 	display: inline-block;
			// 	top: -11px;
			// 	border-right: 11px solid transparent;
			// 	border-bottom: 11px solid #424649;
			// 	border-left: 11px solid transparent;
			// }
			&:after{
				content: '';
				left: 50%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				display: inline-block;
				position: absolute;
				bottom: -11px;
				border-right: 11px solid transparent;
				border-top: 11px solid #424649;
				border-left: 11px solid transparent;
			}
	  }
	}
	&.dropdown{
		&.is-top-left{
			.dropdown-menu{
				left: -142px;
				bottom: 30px;
			}
		}
	}
}

.dropdown-datepicker{
	.dropdown{
		&-menu{
			width: 285px;
			.dropdown-content{
				.datepicker-table{
					width: 100%;
					margin: 0 auto 0.5rem auto;
				}
			}
		}

		&-content {
			background-color: $v-black;
			border-radius: 5px;
			.datepicker-header {
				border: none;
				padding-top: 10px;

				.pagination-previous, .pagination-next {
					border: none;
					padding: 14px 6px;
					&::before {
						border-style: solid;
						border-width: 1px 1px 0 0;
						content: '';
						display: inline-block;
						height: 10px;
						left: 0.15em;
						position: relative;
						top: 0.15em;
						transform: rotate(-45deg);
						vertical-align: top;
						width: 10px;
						border-color: $v-white;
					}

					* { display: none; }
				}

				.pagination-previous {
					&::before {
						left: 0.25em;
						transform: rotate(-135deg);
					}
				}

				.pagination-next {
					&::before {
						left: 0px;
						transform: rotate(45deg);
					}
				}

				.pagination-list {
					.select {
						&:after {
							border-width: 1px;
							border-color: $v-white;
						}

						select {
							border-color: $v-white;
							background-color: $v-black;
							color: white;
							font-family: "Avenir Next Regular";
							&:hover, &:active, &:focus {
								box-shadow: none;
								border-color: $v-white;
							}

							option {
								background-color: $v-white;
							}
						}
					}
				}
			}
			.datepicker-table {
				.datepicker-header {
					.datepicker-cell {
						font-family: "Avenir Next Medium";
						color: $v-white;
						font-weight: normal;
						font-size: 15px;
					}
				}

				.datepicker-body {
					.datepicker-cell {
						border-radius: 6px;
						line-height: 15px!important;
						padding: 10px;
						&.is-selectable {
							color: $v-white;

							&:hover, &:focus, &:active {
								text-decoration: none;
								&:not(.is-selected) {
									background-color: $v-black-darker;
									color: $v-white;
								}
							}

							&.is-today {
								border-color: $v-black;
							}

							&.is-selected {
								background-color: $v-yellow;
								color: $v-black;
							}
						}
					}
				}
			}
		}
	}
}