.custom-popover{
	&.c-list--staff__dropdown{
		.dropdown{
			&-trigger{
				width: 30px;
			}
			&-content{
				text-align: left;
				.dropdown-item{
					.c-avatar{
						display: inline-block;
					}
					span{
						display: inline-block;
						background-color: transparent;
						text-transform: capitalize;
						font-size: 1.5rem;
						font-weight: normal;
					}
				}
			}
		}
	}
  .dropdown{
	  &-menu{
		// position: absolute;
			position: fixed;
			z-index: 3;
			background: #424649;
			color: #fff;
			width: 300px;
			text-align: center;
			top: 20px;
			border-radius: 6px;
			left: 30%;
			padding-top: 0;
			cursor: default;
			.dropdown-content{
			  background-color: inherit;
			  .dropdown-item{
					color: $v-white;
					text-decoration: none;
					padding: 14px;
					&:hover{
					  background-color: transparent;
					}
					textarea{
						background-color: transparent;
						border-color: transparent;
						color: $v-white;
					}
					// &.c-list--staff{
					// 	width: 100%;
					// 	margin: 0;
					// 	.c-avatar{
					// 		display: inline-block;
					// 	}
					// 	span{
					// 		display: inline-block;
					// 		background-color: transparent;
					// 	}
					// }
			  }
			}
			// &:before{
			// 	content: '';
			// 	position: absolute;
			// 	left: 50%;
			// 	transform: translateX(-50%);
			// 	-webkit-transform: translateX(-50%);
			// 	-moz-transform: translateX(-50%);
			// 	display: inline-block;
			// 	top: -11px;
			// 	border-right: 11px solid transparent;
			// 	border-bottom: 11px solid #424649;
			// 	border-left: 11px solid transparent;
			// }
			&:after{
				content: '';
				left: 50%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				display: inline-block;
				position: absolute;
				bottom: -11px;
				border-right: 11px solid transparent;
				border-top: 11px solid #424649;
				border-left: 11px solid transparent;
			}
	  }
	}
}