.custom-popover{
	&.c-list--staff__dropdown{
		position: unset;
		.dropdown{
			&-trigger{
				width: 30px;
				cursor: pointer;
			}
			&-content{
				text-align: left;
				.dropdown-item{
					.c-avatar{
						display: inline-block;
					}
					span{
						display: inline-block;
						background-color: transparent;
						text-transform: capitalize;
						font-size: 1.5rem;
						font-weight: normal;
					}
				}
			}
		}

		&.is-top {
			.dropdown-menu {
				top: unset;
				bottom: 0;
			}
		}
	}
  	.dropdown{
	  	&-menu{
			position: absolute;
			z-index: 3;
			background: #424649;
			color: #fff;
			width: 270px;
			text-align: center;
			top: 0;
			border-radius: 6px;
			left: 38px;
			padding: 8px;
			cursor: default;
			.dropdown-content{
				background-color: inherit;
				max-height: 184px;
				overflow: auto;
				box-shadow: none;
				padding: 0;
				@include scrollbar($v-black, 5px, transparent, 2.5px, $v-slate);
			  	.dropdown-item{
					color: $v-white;
					text-decoration: none;
					padding: 14px;
					&:hover{
						background-color: transparent;
					}
					textarea{
						background-color: transparent;
						border-color: transparent;
						color: $v-white;
					}
			  	}
			}
	  	}
	}
	&.dropdown{
		&.is-top-left{
			.dropdown-menu{
				left: -142px;
				bottom: 30px;
			}
		}
	}

	&.c-dropdown--reminder {
		padding: 0;
		.dropdown {
			&-menu {
				width: 400px;
				padding: 10px;
				left: auto;
				right: 0;
				top: 50px;
			}
			&-content {
				max-height: none;

				textarea {
					box-shadow: none;
					color: $v-white;
					padding: 0;
					resize: none;
					@include scrollbar($v-black, 5px, transparent, 2.5px, $v-slate);
					&::placeholder {
						color: $v-slate;
					}
					&:hover, &:focus, &:active {
						box-shadow: none;
					}
				}
			}
		}
	}
}

.dropdown-datepicker{
	.dropdown{
		&-menu{
			width: 285px;
			.dropdown-content{
				.datepicker-table{
					width: 100%;
					margin: 0 auto 0.5rem auto;
				}
			}
		}

		&-content {
			background-color: $v-black;
			border-radius: 5px;
			.datepicker-header {
				border: none;
				padding-top: 10px;

				.pagination-previous, .pagination-next {
					border: none;
					padding: 14px 6px;
					&::before {
						border-style: solid;
						border-width: 1px 1px 0 0;
						content: '';
						display: inline-block;
						height: 10px;
						left: 0.15em;
						position: relative;
						top: 0.15em;
						transform: rotate(-45deg);
						vertical-align: top;
						width: 10px;
						border-color: $v-white;
					}

					* { display: none; }
				}

				.pagination-previous {
					&::before {
						left: 0.25em;
						transform: rotate(-135deg);
					}
				}

				.pagination-next {
					&::before {
						left: 0px;
						transform: rotate(45deg);
					}
				}

				.pagination-list {
					.select {
						&:after {
							border-width: 1px;
							border-color: $v-white;
						}

						select {
							border: none;
							background-color: $v-black-darker;
							height: 36px;
							color: white;
							font-family: "Avenir Next Regular";
							&:hover, &:active, &:focus {
								box-shadow: none;
								border-color: $v-white;
							}

							option {
								background-color: $v-white;
							}
						}
					}
				}
			}
			.datepicker-table {
				.datepicker-header {
					.datepicker-cell {
						font-family: "Avenir Next Medium";
						color: $v-white;
						font-weight: normal;
						font-size: 15px;
					}
				}

				.datepicker-body {
					.datepicker-cell {
						border-radius: 6px;
						line-height: 15px!important;
						padding: 10px;
						&.is-selectable {
							color: $v-white;

							&:hover, &:focus, &:active {
								text-decoration: none;
								&:not(.is-selected) {
									background-color: $v-black-darker;
									color: $v-white;
								}
							}

							&.is-today {
								border-color: $v-black;
							}

							&.is-selected {
								background-color: $v-yellow;
								color: $v-black;
							}
						}
					}
				}
			}
		}
	}
}