.c-select{
	position: relative;
	text-align: left;
	&--multiple{
		.multiselect{
			font-size: 1.5rem;
			font-family: "Avenir Next Regular";
			text-transform: initial;
			border-radius: 5px;
			border: 1px solid $v-ui-border;
			cursor: pointer;
			&:hover{
				border-color: $v-blue-border;
      	box-shadow: 0 0 4px 1px rgba(131,202,252,0.5);
			}
			.multiselect{
				&__tags{
					border: none;
					padding: 6px 40px 6px 8px;
					background: transparent;
					min-height: 0px;
					span{
						&.multiselect__single{
							margin-bottom: 0;
							vertical-align: -webkit-baseline-middle;
						}
					}

					.multiselect__tags-wrap{
						.custom__tag{
							font-size: 16px;
							display:none;
							vertical-align: bottom;
							padding-left: 5px;
							padding-top: 5px;
							line-height: 20px;

							&:first-child{
								display: inline-block;
							}
						}
					}
				}
			}

			// hide custom tag
			&.multiselect--active{
				.multiselect__tags{
					.multiselect__tags-wrap{
						.custom__tag{
							font-size: 16px;
							display:none;
							vertical-align: bottom;
							padding-left: 5px;
							padding-top: 5px;
							line-height: 20px;
						}
					}
				}
			}

			&__input{
				margin-bottom: 0;
				vertical-align: -webkit-baseline-middle;
			}
			&__select{
				height: 36px;
				top: -1px;
				&:before{
					right: 15px;
					border: 1px solid $v-black;
			    border-radius: 0px;
			    border-right: 0;
			    border-top: 0;
			    content: " ";
			    display: block;
			    height: .625em;
			    margin-top: -.4375em;
			    pointer-events: none;
			    position: absolute;
			    top: 50%;
			    transform: rotate(-45deg);
			    transform-origin: center;
			    width: .625em;
				}
			}
			&__tags{
				&-wrap{
					// display: none;
				}
			}
			&__element{
				span{
					font-weight: normal;
					line-height: 23px;
					vertical-align: -webkit-baseline-middle;
				}
			}
			// start css jika dropdown tampil ke atas
			&--above{
				.multiselect__content-wrapper{
					margin-bottom: 5px;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}
			// end css jika dropdown tampil ke atas
			&__content{
				&-wrapper{
					background-color: $v-black;
					color: $v-white;
					margin-top: 9px;
					border-radius: 5px;
					border: none;
					box-shadow: 0 10px 20px 0 rgba(0,0,0,0.25);
					.multiselect__content{
						@include scrollbar($v-black, 5px, transparent, 2.5px, $v-slate);
						max-height: 200px;
						overflow: auto;
					}
				}
			}
			&__option{
				padding: 10px 15px;
				&--highlight{
					background: $v-black-darker;
					&:after{
						display: none;
					}
				}
				&--selected{
					background: $v-black-darker;
					color: $v-white;
					&:after{
						display: none;
					}
					&.multiselect__option--highlight{
						background: $v-black-darker;
					}
				}
			}
		}
	}
}

.select{
	select{
		font-size: 1.5rem;
		&:hover, &:active, &:focus {
      border-color: $v-blue-border;
      box-shadow: 0 0 4px 1px rgba(131,202,252,0.5);
    }
		&.is-hovered{
			border-color: $v-blue-border;
      box-shadow: 0 0 4px 1px rgba(131,202,252,0.5);
		}
	}
	&:not(.is-multiple){
		height: 100%;
		&:not(.is-loading){
			&::after{
				font-size: 1.5rem;
				border-color: $v-black;
			}
		}
	}
}

.navbar-link{
	&::after{
		font-size: 1.5rem;
	}
}