.c-tabbing--main {
	margin: 0 -30px;

	nav.tabs{
		padding: 0 30px;
		border-bottom: 1px solid $v-ui-border;
		ul{
			border-bottom: none;
			li{
				cursor: pointer;
				color: #8A8E91;
				border-bottom: 3px solid transparent;
				a{
					border: none;
					padding: 10px 30px;
					color: $v-black;
					text-decoration: none;

					.tag {
						padding: 4px;
						border-radius: 50%;
						background-color: $v-green;
						color: $v-white;
						height: auto;
						margin-left: 4px;

						span {
							text-align: center;
							font-size: 13px;
							line-height: 13px;
							width: 13px;
							height: 13px;
							font-family: "Avenir Next Demi";
						}
					}
				}
				&.is-active{
					border-bottom-color: $v-green;
					a{
						color: $v-green;
						font-family: "Avenir Next Medium";
					}
				}
				&.is-disabled{
					a{
						color: $v-slate;
						font-family: "Avenir Next Regular";
					}
				}
			}
		}

		&.is-medium{
			font-size: 1.5rem;
		}
	}

	.tab-content {
		margin: 30px;
	}
}