div
	.c-list.c-list--review
		.c-list__item.is-showonhover(v-for="list in normalizeData")
			.c-list__detail.u-py-10
				.u-mb-20
					a.u-cl-black.c-str-18(href="./company-review-detail") {{list.attributes.title}}
					span.tag.is-danger.u-ml-20.u-ft-smb(v-if="list.expired != 0") Expired
					a.u-ml-16.c-reg-15.u-cl-blue(v-if="list.status == 'completed'") Write and share summary
				.c-list__row
					.c-list--review__reviewee
						.field
							label.label Reviewee
					.c-list--review__reviewer
						.field
							label.label Reviewer
					.c-list--review__schedule
						.field
							label.label Schedule for
					.c-list--review__status
						.field
							label.label Status
				.c-list__row
					.c-list--review__reviewee
						.c-avatar-group.is-image
							figure.c-avatar.c-avatar--xs.c-avatar--circle(v-for="listMember in normalizeDataMember.slice(0, 3)")
								img.c-img-fluid.u-vat(src="@/assets/images/avatar-performance/Jim-Halpert.png", alt="sleekr-avatar-user")
							figure.c-avatar--more.u-ml-20.u-dib
							.c-avatar.c-avatar--xs.c-avatar--circle
								b-dropdown.custom-popover.c-list--staff__dropdown
									span(slot="trigger") +{{normalizeDataMember.length}}
									template(v-for="dataMember in normalizeDataMember")
										b-dropdown-item.u-py-8(v-for="dataUser in normalizeDataUser" v-if="dataMember.attributes.userId == dataUser.attributes.id")
											figure.c-avatar.c-avatar--xs.c-avatar--circle
												img.c-img-fluid.u-db(src="@/assets/images/avatar-performance/Jim-Halpert.png")
											span.u-ml-14 {{dataUser.attributes.name}}
					.c-list--review__reviewer
						a.u-cl-black.jc-popover(data-type="stafflist", data-pos="bottom") Custom
					.c-list--review__schedule(:class="list.expired !== 0 ? 'u-cl-red' : ''") Reviews due by {{list.attributes.reviewStartDate | moment("ddd, d MMM YYYY")}}
					.c-list--review__status
						progress.progress.u-mb-0.is-slate(:value="list.attributes.totalCompletedReviews", :max="list.attributes.totalReviewers") 10
						nav.level.c-reg-13.u-mt-4
							.level-left
								.level-item
									| {{list.attributes.status}}
							.level-right
								.level-item
									| {{list.attributes.totalCompletedReviews}}/{{list.attributes.totalReviewers}}
			.c-list__action
				a.c-btn.c-btn--ghost.c-btn--edit.c-btn--xs
					img.u-mr-10(src="@/assets/images/pages/icon-pencil.svg", alt="")
					Span Edit
	.p-prfrm-showmore(v-if="totalReviewList > 5")
		span Show More
