.detail-body
  .u-mt-40
    span.c-str-18 Not yet reviewed
    span.u-ml-20.u-ft-reg 
  .c-list.c-list--reviewdetail.c-list--reviewdetail-company
    .c-list__item(v-for="member in detailCompanyReviewMember")
      .c-list__avatar
        .c-avatar-group
          figure.c-avatar.c-avatar--sm.c-avatar--circle
              img.c-img-fluid(src="@/assets/images/avatar-performance/Michael-Scott.png")
          .c-avatar-text.c-avatar-text--sm
            .c-smb-15 {{member.user.data.name}}
            .c-reg-15.u-cl-slate {{member.user.data.job_position}}
            .c-reg-15.u-cl-slate {{member.user.data.organization}}
      .c-list__detail
        .c-list__row
          .c-list--reviewdetail__reviewer
            label.c-smb-15 Reviewer
          .c-list--reviewdetail__status
            label.c-smb-15 Status
          .c-list--reviewdetail__action
        .c-list__row
          .c-list--review__reviewee
            .c-avatar-group.is-image
              figure.c-avatar.c-avatar--xs.c-avatar--circle(v-for="reviewer in member.reviewers.data.slice(0, 3)")
                img.c-img-fluid.u-vat(src="@/assets/images/avatar-performance/Dwight-Schrute.png", alt="sleekr-avatar-user" v-if="!reviewer.user.data.avatar")
                img.c-img-fluid.u-vat(:src="reviewer.user.data.avatar", alt="sleekr-avatar-user" v-if="reviewer.user.data.avatar")
              figure.c-avatar--more.u-ml-20.u-dib
              .c-avatar.c-avatar--xs.c-avatar--circle(v-show="member.reviewers.data.length > 3")
                b-dropdown.custom-popover.c-list--staff__dropdown
                  span(slot="trigger") +{{member.reviewers.data.length}}
                  template(v-for="reviewer in member.reviewers.data")
                    b-dropdown-item.u-py-8
                      figure.c-avatar.c-avatar--xs.c-avatar--circle
                        img.c-img-fluid.u-db(src="@/assets/images/avatar-performance/Jim-Halpert.png")
                      span.u-ml-14 {{reviewer.user.data.name}}
          .c-list--reviewdetail__status
            ProgressBar(
              :currentBar="member.total_completed_reviews"
              :maxBar="member.total_reviewers"
              :statusProgress="member.status"
            )
          .c-list--reviewdetail__action
            b-dropdown.custom-popover.c-dropdown--reminder
              a.button.c-btn--sm.c-btn--default(slot="trigger") Send reminder
              b-dropdown-item(custom)
                form
                  .field
                    .control
                      textarea.textarea.is-normal(type="text", rows="5", placeholder="Write reminder message…")
                  nav.level.u-mt-20
                    .level-left
                      .level-item
                        a.button.c-btn--ghost.u-cl-white Cancel
                        a.button.is-primary(type='submit') Send
                    .level-right
                      .level-item