#previewTemplate.u-py-40
	.p-prfrm-content.p-prfrm-content--preview
		.p-prfrm-content--preview__badge PREVIEW
		.p-prfrm-content--preview__close
			a.c-btn.c-btn--ghost(@click.prevent="closeWindow") Exit<br>preview
		.p-prfrm-create
			.p-prfrm-create__list.c-accordion__panel.is-open(v-for="categories in template.data")
				.p-prfrm-create__list-head.c-accordion__head.u-py-0
					.c-accordion__title
						h3.c-str-21 {{categories.name}}
						p.c-reg-15.u-mb-10 {{categories.description}}
						.c-reg-15.u-cl-slate Weight: {{categories.weight}} of 100%
					.c-accordion__icon(
						@click.prevent="accToggle"
						:class="isAccActive ? 'icon-minus':'icon-plus'")
				vue-slide-up-down.p-prfrm-create__list-content.c-accordion__body(:active="isAccActive")
					.c-accordion__section.u-py-30
						.c-accordion__section-item(v-for="(question, index) in categories.review_indicators")
							.c-accordion__section-item-no
								span.u-ft-smb {{index+1}}
								span.u-cl-slate /{{categories.review_indicators.length}}
							.c-accordion__section-item-content
								.c-smb-15 {{question.name}}
								.u-maxw-570.u-py-10
									p.c-reg-15 {{question.description}}
								.u-cl-slate Weight: {{question.weight}} of 100%
								//- answer type rating
								.p-prfm-rating.u-my-30(v-if="question.answer_type == 'rating'")
									.p-prfm-rating__item(v-for="(rating,index) in question.review_ratings")
										input(type='radio'
											name='radio-rating'
											:id='rating.id'
											disabled
										)
										label(:for='rating.id') {{index + 1}}

								//- answer type yes no
								.u-mt-30(v-if="question.answer_type == 'yes-no'")
									b-field
										b-radio-button.radio-button(v-model="radioButton"
											native-value="Yes"
											disabled
										)
											span Yes
										b-radio-button.radio-button(v-model="radioButton"
											native-value="No"
											disabled
										)
											span No
								//- answer type free text
								.p-prfrm-comment.is-button.is-disabled(v-if="question.answer_type == 'free-text'")
									img(src="@/assets/images/pages/icon-pencil.svg", alt="", width="20")
									span.u-ml-10 Write answer

								//- comment
								.p-prfrm-comment.is-button(:class="question.can_comment == 0 ? 'is-disabled':'is-disabled'" v-if="question.answer_type != 'free-text'")
									img(src="@/assets/images/pages/icon-pencil.svg", alt="", width="20")
									span.u-ml-10 Write comment
