#entryPage
	.p-prfrm-entry__content
		.c-str-26 Welcome back
		.u-my-30
			a.button(href="").c-btn--full.c-btn--withicon.is-blue.u-mb-18
				span.icon
					img(src="@/assets/images/pages/google-g-logo.svg", alt="Icon")
				span Sign in with Google
			router-link(:to="{ name: 'SignInSleekr'}").button.c-btn--full.c-btn--withicon.is-green
				span.icon
					img(src="@/assets/images/pages/logo-sleekr.svg", alt="Icon")
				span Sign in with Sleekr
		.c-reg-15 or
		FormLogin
			template(slot="forgotPassword") 
				| Forgot Password
			template(slot="signIn") 
				| Sign In
