.p-prfrm-content
	.u-my-90.u-tac
		.u-mb-20
			img(src="@/assets/images/pages/icon-404.svg", alt="Icon")
		.c-str-26.u-cl-blue.u-mb-10 Ooops!
		.u-cl-slate We can’t seem to find the page you’re looking for.
			br
			| Please go back to the homepage.