.wrapper
	.p-prfrm-content.u-hsm-up.u-tac.u-py-90
		h1.c-smb-18.u-mb-40 Halaman tidak tersedia dalam ukuran mobile.
		//- img(src="/assets/images/pages/icon-goals.svg", alt="")

	.p-prfrm-content.u-hsm-down
		.p-prfrm-heading
			h1.c-smb-26 Good morning, Bob!
			p.c-reg-15 Here are a few things you can do to using our integrated modules of objectives, performance reviews, peer and continuous feedback to support driving your feedback culture and allowing your people to grow, shine and succeed!
		
		.c-row.u-mt-20.u-mb-100
			.c-col-4.c-col-md-4.c-col-sm-4.u-tac.u-px-40.u-py-30
				.u-h-100.u-mb-20
					//- img(src="/assets/images/pages/icon-1-1-meetings.svg", alt="")
				h3.c-smb-18 1:1 Meetings
				.u-h-100.u-mb-20
					p.c-reg-15 A 1:1 is a chance for employees to connect with one another on a regular basis.
				button.c-btn.c-btn--primary.is-disabled Create Meeting
				.u-cl-slate.c-reg-13.u-mt-8 Coming soon
			.c-col-4.c-col-md-4.c-col-sm-4.u-tac.u-px-40.u-py-30.u-br-left.u-br-right
				.u-h-100.u-mb-20
					//- img(src="/assets/images/pages/icon-performance-review.svg", alt="")
				h3.c-smb-18 Performance Review
				.u-h-100.u-mb-20
					p.c-reg-15 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur eros at neque rutrum.
				button.c-btn.c-btn--primary(type="submit" @click="testApi") Create Review
			.c-col-4.c-col-md-4.c-col-sm-4.u-tac.u-px-40.u-py-30
				.u-h-100.u-mb-20
					//- img(src="/assets/images/pages/icon-goals.svg", alt="")
				h3.c-smb-18 Goals & Objectives
				.u-h-100.u-mb-20
					p.c-reg-15 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				button.c-btn.c-btn--primary.is-disabled Create Objective
				.u-cl-slate.c-reg-13.u-mt-8 Coming soon
		
		h2.c-smb-26 Up next
		.c-list
			.c-list__item
				.c-list__detail
					.c-reg-13.u-cl-slate Due in 2 days
					.c-avatar-group.u-py-10
						figure.c-avatar.c-avatar--md
							//- img.c-img-fluid(src="/assets/images/avatar/user-11.png", alt="")
						.c-avatar-text.c-avatar-text--md
							.c-smb-18 Write Michael Scott’s review summary and share it with him.
							.c-reg-15.u-cl-slate Performance Review Q2 2018
				.c-list__action
					button.c-btn.c-btn--default.c-btn--sm Write summary
			.c-list__item
				.c-list__detail
					.c-reg-13.u-cl-slate Due in 2 days
					.c-avatar-group.u-py-10
						figure.c-avatar.c-avatar--md
							span DS
						.c-avatar-text.c-avatar-text--md
							.c-smb-18 Remind Dwight Schrute to provide Performance Review Q2 2018 for Jim Halpert
							.c-reg-15.u-cl-slate Performance Review Q2 2018
				.c-list__action
					button.c-btn.c-btn--default.c-btn--sm.jc-popover(data-type="reminder") Send reminder
			.c-list__item
				.c-list__detail
					.c-reg-13.u-cl-slate Due in 5 days
					.c-avatar-group.u-py-10
						figure.c-avatar.c-avatar--md
							//- img.c-img-fluid(src="/assets/images/avatar/user-13.png", alt="")
						.c-avatar-text.c-avatar-text--md
							.c-smb-18 Write your self-assessment and share it with your Manager
							.c-reg-15.u-cl-slate Performance Review Q2 2018
				.c-list__action
					button.c-btn.c-btn--default.c-btn--sm Write review
			.c-list__item.u-br-none
				.c-list__detail
					.c-reg-13.u-cl-slate Due in 14 days
					.c-avatar-group.u-py-10
						figure.c-avatar.c-avatar--md
							//- img.c-img-fluid(src="/assets/images/avatar/user-12.png", alt="")
						.c-avatar-text.c-avatar-text--md
							.c-smb-18 Remind Pam Beesly to review Jim Halpert
							.c-reg-15.u-cl-slate Performance Review Q2 2018
				.c-list__action
					button.c-btn.c-btn--default.c-btn--sm.jc-popover(data-type="reminder") Send reminder
		.p-prfrm-showmore
			span Show More