.p-prfrm-content.u-hsm-down
	.p-prfrm-heading
		h1.c-smb-20 Good morning, Bob!
		p Here are a few things you can do to using our integrated modules of objectives, performance reviews, peer and continuous feedback to support driving your feedback culture and allowing your people to grow, shine and succeed!
	
	.c-row.u-mt-20.u-mb-100
		.c-col-4.c-col-md-4.c-col-sm-4.u-tac.u-px-40.u-py-30
			.u-h-100.u-mb-20
				//- img(src="/assets/images/pages/icon-1-1-meetings.svg", alt="")
				img(src='@/assets/images/pages/icon-1-1-meetings.svg' alt="")
			h3.c-smb-12 1:1 Meetings
			.u-h-100.u-mb-20
				p.c-reg-9 A 1:1 is a chance for employees to connect with one another on a regular basis.
			a.button.is-light(disabled="disabled") Create Meeting
			.u-cl-slate.c-reg-8.u-mt-8 Coming soon
		.c-col-4.c-col-md-4.c-col-sm-4.u-tac.u-px-40.u-py-30.u-br-left.u-br-right
			.u-h-100.u-mb-20
				//- img(src="/assets/images/pages/icon-performance-review.svg", alt="")
				img(src='@/assets/images/pages/icon-performance-review.svg' alt="")
			h3.c-smb-12 Performance Review
			.u-h-100.u-mb-20
				p.c-reg-9 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur eros at neque rutrum.
			a.button.is-primary(type="submit" @click="testApi") Create Review
		.c-col-4.c-col-md-4.c-col-sm-4.u-tac.u-px-40.u-py-30
			.u-h-100.u-mb-20
				//- img(src="/assets/images/pages/icon-goals.svg", alt="")
				img(src='@/assets/images/pages/icon-goals.svg' alt="")
			h3.c-smb-12 Goals & Objectives
			.u-h-100.u-mb-20
				p.c-reg-9 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			a.button.is-light(disabled="disabled") Create Objective
			.u-cl-slate.c-reg-8.u-mt-8 Coming soon
	
	h2.c-smb-20 Up next
	.c-list
		.c-list__item
			.c-list__detail.u-dib
				.c-reg-8.u-cl-slate Due in 2 days
				.c-avatar-group.u-py-10
					figure.c-avatar.c-avatar--md
						img.c-img-fluid.u-br-6(src="@/assets/images/avatar-performance/Andy-Bernard.png")
					.c-avatar-text.c-avatar-text--md
						.c-smb-12 Write Michael Scott’s review summary and share it with him.
						.c-reg-9.u-cl-slate Performance Review Q2 2018
			.c-list__action.u-dib
				a.button.is-outlined.u-cl-slate Write summary
		.c-list__item
			.c-list__detail.u-dib
				.c-reg-8.u-cl-slate Due in 2 days
				.c-avatar-group.u-py-10
					figure.c-avatar.c-avatar--md
						span.u-br-6 DS
					.c-avatar-text.c-avatar-text--md
						.c-smb-12 Remind Dwight Schrute to provide Performance Review Q2 2018 for Jim Halpert
						.c-reg-9.u-cl-slate Performance Review Q2 2018
			.c-list__action.u-dib
				a.button.is-outlined.jc-popover.u-cl-slate(data-type="reminder") Send reminder
		.c-list__item
			.c-list__detail.u-dib
				.c-reg-8.u-cl-slate Due in 5 days
				.c-avatar-group.u-py-10
					figure.c-avatar.c-avatar--md
						img.c-img-fluid.u-br-6(src="@/assets/images/avatar-performance/Andy-Bernard.png")
					.c-avatar-text.c-avatar-text--md
						.c-smb-12 Write your self-assessment and share it with your Manager
						.c-reg-9.u-cl-slate Performance Review Q2 2018
			.c-list__action.u-dib
				a.button.is-outlined.u-cl-slate Write review
		.c-list__item.u-br-none
			.c-list__detail.u-dib
				.c-reg-8.u-cl-slate Due in 14 days
				.c-avatar-group.u-py-10
					figure.c-avatar.c-avatar--md
						img.c-img-fluid.u-br-6(src="@/assets/images/avatar-performance/Andy-Bernard.png")
					.c-avatar-text.c-avatar-text--md
						.c-smb-12 Remind Pam Beesly to review Jim Halpert
						.c-reg-9.u-cl-slate Performance Review Q2 2018
			.c-list__action.u-dib
				a.button.is-outlined.jc-popover.u-cl-slate(data-type="reminder") Send reminder
	.p-prfrm-showmore
		span Show More