// Core sleekr style
@import "bases/variables.scss";
@import "bases/mixins.scss";

// Core designs sleekr style
@import "components/general.scss";
@import "components/typography.scss";
@import "components/grid.scss";

// Core components sleekr style
@import "components/avatar.scss";
@import "components/button.scss";
@import "components/pagination.scss";
@import "components/checkbox-radio.scss";
@import "components/form.scss";
@import "components/alert.scss";
@import "components/select.scss";
@import "components/popover.scss";
@import "components/table.scss";
@import "components/tabbing.scss";
@import "components/calendar.scss";
@import "components/accordion.scss";
@import "components/tooltip.scss";
@import "components/pill.scss";
@import "components/progress.scss";

// pages
@import "pages/performance-header.scss";
@import "pages/performance-content-page.scss";
@import "pages/performance.scss";
@import "pages/signin.scss";

//layout
@import "./layouts.scss";

//fonts
@import "./fonts.scss";

.vdp-datepicker{
	input{
		padding: 0 !important;
		border: none;
		font-family:"Avenir Next Regular";
		color: #424649;
		font-size: 1.5rem;
	}
}