// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// Core sleekr style
@import "bases/variables.scss";
@import "bases/mixins.scss";

// pages
@import "pages/performance-header.scss";
@import "pages/performance-content-page.scss";
@import "pages/performance.scss";
@import "pages/entry-pages.scss";

//layout
@import "./layouts.scss";

//fonts
@import "./fonts.scss";

//custom component
@import "custom/accordion.scss";
@import "custom/avatar.scss";
@import "custom/button.scss";
@import "custom/typography.scss";
@import "custom/grid.scss";
@import "custom/checkbox-radio.scss";
@import "custom/form.scss";
@import "custom/general.scss";
@import "custom/modal.scss";
@import "custom/select.scss";
@import "custom/tooltip.scss";
@import "custom/popover.scss";
@import "custom/progress.scss";
@import "custom/tabbing.scss";
@import "custom/animation.scss";


.vdp-datepicker{
	input{
		padding: 0 !important;
		border: none;
		font-family:"Avenir Next Regular";
		color: #424649;
		font-size: 1.5rem;
	}
}

.grayscale{
	filter: grayscale(100%);
	opacity: 0.5;
}

.width-100{
	width:100%;
}
html { 
	font-size: 62.5%;
}